*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(41, 39, 39);
    color: rgb(218, 216, 216);
    border-left: 10px double rgb(167, 4, 4);
}
header {
    /* position: fixed;
    top: 0; */
    width: 100%;
}
.nav li{
    margin: 0;
    display: inline-block;
    text-align: justify;
}
ul>li>a{
    text-decoration: none;
    color: white;
    padding: 5px ;
}
ul>li>a:hover{
    color: rgb(247, 66, 66);
    border-bottom: 2px solid rgb(167, 4, 4);
    /* text-shadow: 1px 1px 5px rgb(207, 26, 26); */
    background:rgb(71, 70, 70) ;
    border-radius: 10px 10px 0 0 ;
    transition:  .5s;
}
h1{
    padding: 2rem;
    font-size: 5.5rem;
}
section{
    padding-top:30rem ;
}
section>div {
    height: 80vh;
    margin-left: auto ;
    margin-right: auto;
    width: 70%;
    border-bottom:  5px double rgb(167, 4, 4);
}
section>div:last-child{
    border-bottom: none;
}
h2 {
    margin: 4rem;
    font-size: 2.5rem;
    text-decoration: underline 2px rgb(167, 4, 4);
}
p{
    margin: 10px;
    font-size: 1.3rem;
}
.ecuacion {
    margin: 20px;
    font-size: 1.2rem;
}
ul{
    padding: 20px;
}
ul li{
    padding: 5px;
    list-style: circle ;
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 25%;
}
span{
    font-style: italic;
    letter-spacing: 3px;
}
.autores{
    font-style: italic;
    letter-spacing: 5px;
    font-size: .9rem;
}
.im {
    padding: 6px;
    box-shadow: 1px 1px 2px,
    -1px -1px 2px;
}
.back a {
    position: fixed;
    bottom: 20px;
    right: 100px;
    font-family: arial;
    font-size: 1.1rem;
    float: inline-end;
    text-decoration: none;
    color: rgb(187, 186, 186);
    background-color: rgb(155, 41, 41);
    padding: 10px;
    border-radius: 5px;
}
.back a:hover {
    background-color: rgb(167, 4, 4);
    color: rgb(253, 251, 251);
    transition: .5s;
}
footer {
    background-color: rgb(32, 29, 29);
    border-top: 2px solid rgb(167, 4, 4);
    
}
.container-footer{
    display:grid;
    grid-template-columns: auto ;
    grid-template-rows: 50px 50px 100px;
    flex-direction: column;
    align-items: center;
}
.item1{
    font-size: 2.3rem;
    padding: 10px 10px ;
    border-bottom: 1px solid rgb(187, 186, 186);
}
.item2 {
    font-size: .9rem;
    font-style: italic;
    padding-top: 0;
    letter-spacing: 2px;
}
.item3 {
    padding: 10px;
    align-self: flex-end;
    width: 100%;
    background-color: rgb(167, 4, 4);
    font-size: 1.1rem;
    color: rgb(194, 194, 14);
}
.C17{
    height: 180vh;
}
@media screen 
  and (max-width: 480px) 
  {
    h1{
        font-size: 2.2rem; 
     }
     .nav li{
         display: block;
      }
    h2 {
        font-size: 2rem;
        text-align: center;
        width: 250px;
        margin: 10px 10px 25px 10px;
      } 
    p {
        font-size: 1.2rem;
        text-align: justify;
    }   
    .C5 {
        height: 900px;
    }
   img{
       width: 200px;
   }
   .back{
       position: fixed;
       bottom: 5px;
       right: 0;
   }
   ul>li{
       margin-left: 5px;
    }
    footer>div>div>p{
        text-align: center;
    }
}
